<h3>{{title}}</h3>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animalsList; let i = index">
          <td>{{i+1}}. {{animal.name}}</td>
          <td>{{animal.year}}</td>
          <td>
            <a [routerLink]="['../../animal-detail', animal._id]" class="btn btn-sm btn-success" ><span>View</span></a>
            <button class="btn btn-sm btn-primary"><span>Edit</span></button>
            <button class="btn btn-sm btn-danger"><span>Delete</span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
