<h3>{{title}}</h3>

  <div class="row">
    <div class="col-2">Search:</div>
    <div class="col-5">
      <input type="text" [(ngModel)]="search">
    </div>
    <div *ngIf="search" class="col-12 label label-success">Searching: <strong>{{search}}</strong></div>
  </div>
  <br>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Year</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animalsList | search: search; let i = index">
          <td>{{i+1}}. {{animal.name}}</td>
          <td>{{animal.year}}</td>
          <td>
            <a [routerLink]="['../../animal-detail', animal._id]" class="btn btn-sm btn-success"><span>View</span></a>
            <a [routerLink]="['../edit/', animal._id]" class="btn btn-sm btn-primary"><span>Edit</span></a>
            <a class="btn btn-sm btn-danger" data-toggle="modal"
              href="#deleteModal{{animal._id}}"><span>Delete</span></a>
          </td>

          <!-- Modal -->
          <div class="modal fade" id="deleteModal{{animal._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Animal</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure to delete {{animal.name}} register?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAnimal(animal._id)">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
