<div class="row">
    <div class="col-3 content" data-example-id="sample-nav-stacked">
        <h3>{{title}}</h3>
        <div class="nav flex-column nav-pills">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['list']">List</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['edit']">Edit</a>
            <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['add']">Add</a>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>

